@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.carta {
  background-color: white;
  height: 500px;
  border-radius: 30px;
}

.pica2 {
    transform: scaleY(-1);
}

.number {
  height: 270px;
  font-size: 150px;
}
